
<form method="post">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" ><br><br>
  <label for="dob">DOB:</label><br>
  <input type="text" id="dob" name="dob" ><br><br>
  <label for="grade">Grade:</label><br>
  <input type="text" id="grade" name="grade" ><br><br>
  <label for="address">Address:</label><br>
  <input type="text" id="address" name="address" ><br><br>
  <label for="Parent_name">Parent Name:</label><br>
  <input type="text" id="Parent_name" name="Parent_name" ><br><br>
  <input type="submit" value="Save">
</form>

